* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF2E6;
}



header,
box-area {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: bisque;
}

nav {
    float: right;
    line-height: 100px;
    margin-right: 80px;
}

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    color: black;
    padding: 36px 10px;
    margin: 1px 1px 1px 1px;
    font-weight: 700px;
}

nav a:hover {
    background: black;
    color: white;
}

.hero-banner {
    background-image: url("../images/hero.webp");
    background-position: center center;
    top: 80px;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.hero-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f6e4d3;
    opacity: .7;
    z-index: -1;
    text-align: center;
}

.hero-banner h1 {
    padding-top: 15%;
    font-size: 25px;
    text-align: center;
}

.hero-banner h2 {
    font-size: 80px;
    color: black;
    text-align: center;
}

.hero-banner h3 {
    font-size: 15px;
    text-align: center;
}

.hero-text p {
    margin: 25px 200px 1px 200px;
    font-style: italic;
    text-align: center;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;

}

.btn.btn-pink {
    background: #dd2d4a;
    color: #fff;
    border-color: #dd2d4a;
    transition: all 0.5s ease-in-out;

}

.btn.btn-pink:hover {
    background: transparent;
    border-color: #dd2d4a;
    color: #000;

}

.btn.btn-white {
    transition: all 0.5s ease-in-out;

}

.btn.btn-white:hover {
    background: #dd2d4a;
    border-color: #dd2d4a;
    color: #fff;

}

.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #FFF2E6;
}

.about img {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about-text {
    width: 550px;

}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 980px) {}