* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FFF2E6;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: bisque;
}



nav {
    float: right;
    line-height: 100px;
    margin-right: 80px;


}

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    color: black;
    padding: 36px 10px;
    margin: 1px 1px 1px 1px;
    font-weight: 500px;
}

nav a:hover {
    background: black;
    color: white;
}

.hero-banner {
    background-image: url("../images/hero.webp");
    background-size: cover;
    background-position: center center;
    top: 80px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.hero-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFF2E6;
    opacity: .7;
    z-index: -1;
}

.hero-banner h2 {
    padding-top: 8%;
    font-size: 80px;
    color: black;
}

.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

.content-area {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #FFF2E6;
    top: 550px;
}

.content-area h2 {
    margin: 0;
    padding-top: 30px;
    font-size: 40px;
    letter-spacing: 4px;
}

.content-area about-me contact-me {
    padding: 2% 0;
    line-height: 35px;
    text-align: justify;

}